@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
  padding:  10px 20px;
  background-color: #3e5266;
  height:500px;
  width:100%;
  box-sizing: border-box;
}

.contentfix{
  max-width: 1200px;
  /* background-color: rgb(145, 224, 157); */
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

  .head{
    height:70px;
    width:290px;
    font-size: medium;
    background-color: #203549;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    /* flex-direction: row; */
  }

  .head h2{
    align-content: center;
  } 
  
  .navbar{
    /* width: 450px; */
    height: 70px;
    /* background-color: yellowgreen; */
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .navbar ul{
    display: flex;
    list-style: none;
    align-content: center;
  }
  
  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    /* background-color: azure; */
  }
  
  .navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 0.30rem;
    color: #FFFFFF;
    font-weight: bold;
  }

  .navbar ul li a:hover{
    color: #bfe2fc;
  }
  
  .headerbody{
    /* background-color: rgb(54, 52, 46); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
  }
  
  .left-content{
    display: flex;
    flex-direction: column;
  }

  .welcomemsg{
    /* background-color: rgb(209, 222, 170); */
    /* margin: -100px 25px 25px 25px; */
    padding-left: 20px;
    font-weight: bolder;
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    margin-bottom: 60px;
  }
  
  .searchbar{
    padding-left:25px;
  }
  
  .headcolumn{
    background-color: #203459;
    opacity: 90%;
    margin: 0px 25px;
    padding: 20px;
    box-sizing: border-box;
    height: 220px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }
  
  .headcolumn th,.headcolumn td{
    padding: 12px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  
  .headcolumn td{
    /* text-align: left; */
    font-weight: bolder;
  }